{{#userid}}
Hello {{userid}}!
{{/userid}}
{{^userid}}
Not logged in.
{{/userid}}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10">
      <div class="btn-group" data-toggle="buttons-checkbox">
        <a href="/profiles" class="btn"><i class="icon-home"></i></a>
        <a href="/upload" class="btn"><i class="icon-plus-sign"></i></a>
      </div>
    </div>
    <div class="span2">
      <a href="/logout" class="btn btn-small">Logout</a>
    </div>
  </div>
</div>
