<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    {{> common_head}}
    {{> common_css}}
</head>
<body>
  {{> header}}
  <div class="fluid-container">
    <div class="fluid-row">
      <pre>
        {{stats}}
      </pre>
    </div>
  </div>
</body>
{{> common_js}}
</html>
