<!DOCTYPE html>
<html>
<head>
    <title>Profile listing</title>
</head>
<body>
{{#flash}}
<small>{{msg}}</small>
{{/flash}}

<hr>
Profile lengths...
<ul>
{{#lengths}}
<li>{{l}}</li>
{{/lengths}}
</ul>
<hr>
That's all...
</body>
</html>