<!DOCTYPE html>
<html>
<head>
    <title>Profile listing</title>
</head>
<body>
{{#logged_in}}
Hello {{logged_in}}!
{{/logged_in}}

<hr>
Profile lengths...
<ul>
{{#entries}}
<li><a href="/profile/{{_id}}">a profile!</a></li>
{{/entries}}
</ul>
<hr>
That's all...
</body>
</html>