<!DOCTYPE html>
<html>
<head>
    <title>Profile listing</title>
    {{> common_css}}
</head>
<body>
{{> header}}
Profile lengths...
<ul>
{{#entries}}
<li><a href="/profile/{{_id}}">a profile!</a></li>
{{/entries}}
</ul>
<hr>
That's all...
</body>
{{> common_js}}
</html>
