<!DOCTYPE html>
<html>
<head>
    <title>Upload cProfile file</title>
    {{> common_css}}
</head>
<body>
  {{> header}}
  <div class="container-fluid">
    <div class="row-fluid">
      <form action="/process_upload"
            method="post"
            accept-charset="utf-8"
            enctype="multipart/form-data">
        <fieldset>
          <legend>Upload cProfile results</legend>
          <label for="description">Description</label>
          <textarea id="description" name="description" rows="3"></textarea>

          <label for="stats_file">Stats file</label>
          <input id="stats_file" name="stats_file" type="file" value="" />

          <label class="checkbox">
            <input name="public" type="checkbox">Public
          </label>

          <button type="submit" value="submit" class="btn">Submit</button>
        </fieldset>
      </form>
    </div>
  </div>
</body>
{{> common_js}}
</html>
